@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x:hidden;
}

body{
    font-family: 'Nunito','Open Sans',sans-serif; 
}


.wrap_container {
    max-width:  1920px;
    height: 1080px;
    margin: 0 auto;
    padding: 0;
    display: flex;
}


/* knight cup header */

.header{
    background-color: #7025FB;
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;  
}

.header .logo{
    padding-bottom: 5px;
}

.header .logo_txt{
    margin-left:8px;
}




/* Buttons */

.start_btn,
.next_btn,
.back_btn{
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
    background-color: #212529;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 24px;
    border-radius: 8px;
}

.start_btn{
    margin-top: 102px;
    border: 4px solid #FD5334;
}

.next_btn{
    border: 4px solid #fff;
}

.back_btn{
   background-color: transparent;
   color:  #212529;
   border: 1px solid rgba(33, 37, 41, 1);
   text-decoration: none;
   
}

.start_btn  img,
.next_btn  img{
    padding-left: 12px;
}

.start_btn:hover,
.next_btn:hover{
    border: 4px solid rgba(194, 165, 249, 0.8);
    cursor: pointer;
}

.back_btn:hover{
    border-color: rgba(194, 165, 249, 0.8);
    background-color: rgba(185, 180, 196, 0.3);
    color: #000;
    cursor: pointer; 
}

.buttons_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 88px;
} 

/* experience and signup common styles  */

.left_side .img_container{
    position: relative;
}

.left_side_content{
    position: absolute;
    z-index: 1;
    left: 70px;
    top: 350px;
    text-transform: uppercase;
    font-style: italic;
    color: #212529;
}

.left_side_content h1{
    font-weight: 800;
    line-height: 36px;
    font-size: 26px;
}

.quote{
    padding-bottom:10px;
}

.left_side_content h2{
    padding-top: 24px;
    font-size: 24px;
    font-weight: 500;
    color: #E5E6E8;
}


.signup_section{
   width: 997px;
   font-family: 'Open Sans',sans-serif;
}

.signup_section .header{
    padding-left: 48px;
    background-color: #fff;
    border-bottom: 1px solid rgba(185, 180, 195, 0.3);

}

.signup_section .header p{
    color: #212529;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
}


.content_container{
    padding-top: 60px;
    padding-left: 48px;
    padding-right: 48px;
    position: relative;
}


.form_change{
    display: none;
}



.title_wrap h1{
    font-weight: 600;
    font-size: 32px;
    color:#000;
}

.title_wrap p{
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    color: #95939A;
    padding-top: 3px;
}

.form_change .line{
    position: absolute;
    top:20px;
    left:100px;
    padding: 0 4px;
}

.form_wrap form{
    display: flex;
    flex-direction: column;
    padding-top: 93px;
}



/* last pgae */

.right_side_success{
    margin:  auto;
}

.right_side_success .main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.complete_txt{
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    color: #000;
}

@media only screen and (min-width: 1427px) {
 .content_container{
    padding-right: 0;
}

.form_change {
    width: 366px;
} 

}



@media only screen and (min-width: 675px) {
*{
    overflow: hidden;
}

.form_change {
    display: block;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 366px;
} 

.form_change .first,
.form_change .second{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_change .box{
    width: 40px;
    height: 40px;
    border: 1px solid #E5E6E8;
    border-radius: 8px;
    position:relative;
}

.form_change .second .box{
    background-color: #F5F5F5;;
}

.form_change .box h1{
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    left: 14px;
    top: 8px;
}

.form_change .second .box h1{
    color: rgba(149, 147, 154, 1);
}

.form_change p{
    font-weight: 400;
    padding-top: 4px;
}


.form_container{
    margin-top:112px;
}
}

