
.left_side{
    position: relative;
}

.header{
    position: absolute;
    top:0px;
    left: 0;
    right: 0;
    z-index: 1;
}


.right_side{
    position: relative;
}

.main_content{
    position: absolute;
    top: 265px;
    left: 85px;
}


.title{
    font-weight: 800;
    font-size: 80px;
    text-transform:uppercase;
    color: #fff;
}

.title span{
    font-size: 20px;
    font-weight: 700;
    color: rgba(33, 37, 41, 1);
    vertical-align: middle;
}


